@import "tailwindcss";

:root {
  --background: #f3f4f6;
  --foreground: #111827;
  --primary: #6366f1;
  --primary-dark: #4f46e5;
  --background-light: #f3f4f6;
  --background-dark: #121212;
  --surface-light: #ffffff;
  --surface-dark: #1a1a1a;
  --accent-purple: #8b5cf6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #f3f4f6;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-surface-light: var(--surface-light);
  --color-surface-dark: var(--surface-dark);
  --color-accent-purple: var(--accent-purple);

  --font-display: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

/* Hide Scrollbar Utilities */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}